.hero {
  text-align: left;
  padding: 20px;
  height: 88vh;
  background-image: url("../../../assets/drone1.jpg");  
  background-size: cover; /* dopasowanie do całej sekcji */
  background-position: center; /* wycentrowanie */
  background-repeat: no-repeat;
  color: #e0e0e0;
}


.hero h2 {
  margin-top:250px;
  margin-left:100px;
  font-size: 3rem;
  margin-bottom: 0px;
  /* padding:60px; */
}

.hero p {
  font-size: 1.5rem;
  margin-left: 100px;
  margin-right: 10px;
  width: 450px;
  word-wrap: break-word; /* Zapewnia łamanie długich słów */
}


